@charset "UTF-8";
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Serif TC", serif;
  color: #dcb078;
}

p {
  font-family: "Microsoft JhengHei";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.8;
  color: #fff;
}

.w-100 {
  width: 100%;
}

.en_family {
  font-family: "Playfair Display", serif;
}

.menu_box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 2vw 5vw 0vw 5vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu_box .hamburger {
  display: none;
}
.menu_box .hamburger .hamburger-inner,
.menu_box .hamburger .hamburger-inner:after,
.menu_box .hamburger .hamburger-inner:before {
  background-color: #fff;
}
.menu_box .hamburger.is-active .hamburger-inner,
.menu_box .hamburger.is-active .hamburger-inner:after,
.menu_box .hamburger.is-active .hamburger-inner:before {
  background-color: #fff;
}
.menu_box .logo_box img {
  width: 165px;
}
.menu_box .list_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu_box .list_box a.ch_text {
  color: #fff;
  -webkit-writing-mode: tb;
      -ms-writing-mode: tb;
          writing-mode: tb;
  font-size: 18px;
  letter-spacing: 0.3vw;
  text-decoration: none;
  padding: 0 0.9vw;
  font-family: "Noto Serif TC", serif;
  font-weight: 300;
}
.menu_box .list_box a.ch_text .en_text {
  font-family: monospace;
  color: #fff;
  -webkit-writing-mode: tb;
      -ms-writing-mode: tb;
          writing-mode: tb;
  font-size: 12px;
  letter-spacing: 0.1vw;
  font-weight: 200;
  display: block;
}
@media (max-width: 800px) {
  .menu_box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu_box .hamburger {
    display: inline-block;
    z-index: 110;
  }
  .menu_box .list_box {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 100%;
    background-color: rgba(39, 28, 27, 0.8784313725);
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
    z-index: 100;
  }
  .menu_box .list_box a.ch_text {
    font-size: 22px;
    letter-spacing: 0.5vw;
    padding: 0 3vw;
  }
}
.menu_box .logo_box img {
  width: 150px;
}
@media (max-width: 500px) {
  .menu_box {
    padding: 4vw 5vw 0vw 5vw;
  }
  .menu_box .list_box a.ch_text {
    font-size: 16px;
    letter-spacing: 1vw;
    padding: 0 3vw;
  }
  .menu_box .logo_box img {
    width: 110px;
  }
  .menu_box .hamburger {
    padding: 5px;
  }
  .menu_box .hamburger .hamburger-box {
    width: 25px;
    height: 20px;
  }
  .menu_box .hamburger-inner, .menu_box .hamburger-inner:after, .menu_box .hamburger-inner:before {
    width: 25px;
    height: 2px;
  }
  .menu_box .hamburger-inner:before {
    top: -7px;
  }
  .menu_box .hamburger-inner:after {
    bottom: -7px;
  }
}

.banner_box .ch_title_font {
  font-family: "Noto Serif TC", serif;
  font-size: 42px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 12px;
}
.banner_box .en_title_font {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 52px;
  letter-spacing: 7px;
}
.banner_box .p_font {
  font-size: 16px;
  letter-spacing: 3px;
  line-height: 2.1;
}

.title_top .en_txt {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 45px;
  line-height: 1.2;
  letter-spacing: 5px;
  color: #dcb078;
}
.title_top .ch_txt {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 8px;
  color: #dcb078;
}

.news_blog .title_font {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 4px;
  color: #dcb078;
}
.news_blog .p_font {
  font-size: 15px;
  letter-spacing: 4px;
  line-height: 2;
}
.news_blog .small_p_font {
  font-size: 14px;
  color: #dcb078;
}
.news_blog .menu_font {
  font-family: "Noto Serif TC", serif;
  font-size: 16px;
  letter-spacing: 4px;
  color: #dcb078;
}
.news_blog .dt_title_font {
  font-family: "Noto Serif TC", serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 5px;
  color: #dcb078;
}

.readmore_word {
  font-family: "Playfair Display", serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 2px;
}

footer {
  text-align: center;
  padding: 30px 0;
  background-color: #270F06;
  color: #dcb078;
}
footer span {
  font-family: "Microsoft JhengHei";
  letter-spacing: 2px;
  padding: 0 10px;
  font-size: 15px;
}
@media (max-width: 800px) {
  footer {
    padding: 25px 0;
  }
  footer span {
    display: block;
    padding: 4px;
    font-size: 2vw;
  }
}
@media (max-width: 500px) {
  footer span {
    font-size: 3vw;
  }
}

@media screen and (max-width: 1024px) {
  .banner_box .en_title_font {
    font-size: 2.8vw;
  }
  .title_top .en_txt {
    font-size: 8vw;
  }
}
@media screen and (max-width: 768px) {
  .banner_box .en_title_font {
    font-size: 6vw;
  }
  .news_blog .dt_title_font {
    font-size: 4vw;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --square-line-width: 0.5vw;
  --cel--square-line-width: 1.8vw;
  --line: #dcb17873;
  --line-height: 0.01vw;
  --cel--line-height: 0.1vw;
  --line-top-width: 74%;
  --line-bottom-width: 8vw;
  --min-square-width: 2vw;
  --cel-min-square-width: 6vw;
  --cel-arrow-width: 6vw;
  --square_3D--line: 38%;
  --anm-duration--square_3D: 7s;
  --anm-delay--square_3D: 0s;
  --ecma-ch-h3: 2.3vw;
  --cel--ecma-ch-h3: 4.3vw;
  --cel--ecma-ch-p: 2vw;
  --card--width: 25vw;
  --cell-line-height: 0.3vw;
  --cell-line-top-width: 13vw;
  --cell-line-bottom-width: 20vw;
}

* {
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.menu_box {
  z-index: 999;
}

.Inner {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact .col_1 .bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}

.bginner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vw;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgb(0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);
}
@-webkit-keyframes bginner {
  0% {
    opacity: 0;
    background-size: 100% auto;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-size: 100% auto;
  }
}
@keyframes bginner {
  0% {
    opacity: 0;
    background-size: 100% auto;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-size: 100% auto;
  }
}

.contact .col_1 .black {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vw;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, rgba(0, 0, 0, 0.856)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.856) 10%, rgba(0, 0, 0, 0) 100%);
}
@keyframes bginner {
  0% {
    opacity: 0;
    background-size: 100% auto;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    background-size: 100% auto;
  }
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: mini 10s ease-out forwards;
          animation: mini 10s ease-out forwards;
}
.contact .col_1 {
  width: 100%;
  height: 100vh;
  position: relative;
}
.contact .col_1 .title_item {
  width: 25vw;
  background-color: rgba(39, 28, 27, 0.8784313725);
  color: #dcb078;
  margin-bottom: 0;
  padding: 1vw;
  position: absolute;
  top: 50%;
  /*距離上方的位置*/
  left: 50%;
  /*距離左方的位置*/
  margin-top: -92.17px;
  /*上方邊界*/
  margin-left: -240px;
  /*左方邊界*/
  padding: 1vw;
}
.contact .col_1 .title_item .txt_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .col_1 .title_item .txt_box p {
  margin-bottom: 0;
}
.contact .col_1 .title_item .txt_box h1 {
  margin: 0;
}
.contact .col_1 .title_item .img_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 2%;
}
.contact .col_1 .title_item .img_box .line_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1vw;
}
.contact .col_1 .title_item .img_box .line_box .line:nth-child(1) {
  width: var(--line-top-width);
  height: var(--line-height);
  background: var(--line);
  margin: 0 0 0.2vw 0;
}
.contact .col_1 .title_item .img_box .line_box .line:nth-child(2) {
  width: var(--line-bottom-width);
  height: var(--line-height);
  background: var(--line);
  top: 2vw;
}
.contact .col_1 .title_item .img_box .square {
  padding: 1vw 0;
  width: var(--square-line-width);
}
.contact .col_1 .title_item .img_box .line_box:nth-child(3) {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contact .col_2 {
  width: 100%;
  z-index: 2;
}
.contact .col_2 .range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 11vw 10vw;
}
.contact .col_2 .range .map_box {
  padding: 1vw;
  width: 70%;
}
.contact .col_2 .range .txt_item {
  width: 30%;
  margin-left: 1vw;
}
.contact .col_2 .range .txt_item .form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact .col_2 .range .txt_item .form-box .txt_box p {
  color: #dcb078;
  font-family: "Noto Serif TC", serif;
}
.contact .col_2 .range .txt_item .form-box .input_box {
  width: 80%;
  padding-left: 1vw;
}
.contact .col_2 .range .txt_item .form-box .input_box .message textarea {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dcb078;
  color: #dcb078;
  outline: none;
  line-height: 3;
  margin-top: 17%;
  overflow: visible;
}
.contact .col_2 .range .txt_item .form-box .input_box input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dcb078;
  color: #dcb078;
  outline: none;
  line-height: 3;
  overflow: visible;
}
.contact .col_2 .range .txt_item .form-box .btn_box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5vw 0;
  position: relative;
}
.contact .col_2 .range .txt_item .form-box .btn_box a {
  width: 60%;
  text-decoration: none;
  display: block;
  border: 1px solid rgba(180, 141, 83, 0.3333333333);
  padding-left: 2em;
  padding-right: 2em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 9;
}
.contact .col_2 .range .txt_item .form-box .btn_box a .btn {
  line-height: 2;
  margin: 0 auto;
  color: #dcb078;
  text-align: center;
}
.contact .col_2 .range .txt_item .form-box .btn_box a:hover {
  background: #dcb078;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact .col_2 .range .txt_item .form-box .btn_box a:hover .btn {
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.contact .col_2 .range .txt_item .form-box:nth-child(6) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 1.5vw 0 3vw;
}

@media screen and (max-width: 768px) {
  .contact .col_1 {
    height: 100vh;
  }
  .contact .col_1 .title_item {
    width: 50vw;
    margin-top: -58.28px;
    margin-left: -103.5px;
  }
  .contact .col_1 .title_item .img_box .square {
    width: var(--cel--square-line-width);
  }
  .contact .col_1 .title_item .img_box .line_box .line:nth-child(1) {
    height: var(--cel--line-height);
  }
  .contact .col_1 .title_item .img_box .line_box .line:nth-child(2) {
    height: var(--cel--line-height);
  }
  .contact .col_2 .range {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .col_2 .range .map_box {
    height: 65vw;
    width: 100%;
  }
  .contact .col_2 .range .txt_item {
    width: 100%;
  }
}/*# sourceMappingURL=contact.css.map */