@import 'all';
@import 'reset';

:root {
    // ===========電腦====

    // title//
    // 菱形 & 兩條線條 {

    //菱形大小
    --square-line-width: 0.5vw; //var(--square-line-width)
    --cel--square-line-width: 1.8vw; //var(--cel--square-line-width)
    // 色塊顏色//
    --line: #dcb17873; // var(--line)
    --pale--line:#dcb17873; //var(--pale--line)
    --min-square-width:2vw;//var(--min-square-width)
    //粗細 //
    --line-height: 0.02vw; //var(--line-height)
    --cel--line-height: 0.1vw; //var(--cel--line-height)
    // 長度
    --line-top-width: 74%; //var(--line-top-width)
    --line-bottom-width: 8vw; //var(--line-bottom-width)
    // more
    --cel-arrow-width:8vw;//var(--cel-arrow-width)
    --cel-min-square-width:8vw;//var(--cel-min-square-width)

    // }

    // 六角菱形{
    // 橫線 造&工  //直線 精&藝
    --square_3D--line: 38%; //var(--square_3D--line)
    // 線條動畫
    --anm-duration--square_3D: 7s; //var(--anm-duration--square_3D)
    // 線條動畫延遲
    --anm-delay--square_3D: 0s; //var(--anm-delay--square_3D)
    //精工造藝 中文 字體大小
    --ecma-ch-h3: 2.3vw; //var(--ecma-ch-h3)
    --cel--ecma-ch-h3: 4.3vw; //var(--cel--ecma-ch-h3)
    --cel--ecma-ch-p: 2vw; //var(--cel--ecma-ch-p)
    // }

    //卡片式
    // 圖片大小
    --card--width: 25vw; //var(--card--width)
    --border-radius-img:1vw;//var(--border-radius-img)

    // ===========手機====

    // 菱形線條 

    //粗細 //
    --cell-line-height: 0.3vw; //var(--cell-line-height)
    --cell-line-top-width: 13vw; //var(--cell-line-top-width)
    --cell-line-bottom-width: 20vw; //var(--cell-line-bottom-width)

}

* {
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.menu_box {
    z-index: 999;
}

// ===========電腦版==============//
// 過場動畫(咖啡)
.Inner {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: 999;
}

.contact {
    .col_1 {
        .bg {
            position: fixed;
            width: 100%;
            height: 100vh;
            z-index: -1;
            object-fit: cover;
        }
    }
}

// 上陰影
.bginner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vw;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);

    @keyframes bginner {
        0% {
            opacity: 0;
            background-size: 100% auto;
        }

        30% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            background-size: 100% auto;
        }
    }
}

// 下陰影
.contact {
    .col_1 {
        .black {
            content: "";
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20vw;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.856) 10%, rgba(0, 0, 0, 0) 100%);

            @keyframes bginner {
                0% {
                    opacity: 0;
                    background-size: 100% auto;
                }

                30% {
                    opacity: 1;
                }

                100% {
                    opacity: 1;
                    background-size: 100% auto;
                }
            }
        }
    }
}

.contact {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    // width: 100vw;
    // 檢查滿版
    // height: 100vh;
    display: flex;
    flex-direction: column;
    animation: mini 10s ease-out forwards;

    //  col_1 第一卡大banner
    .col_1 {
        width: 100%;
        height: 100vh;
        position: relative;

        // 咖啡色塊文字
        .title_item {
            width: 25vw;
            height: 10vw;
            background-color: $banner_bg_color;
            color: $gold_color;
            // 讓畫面滿版
            position: absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            margin:auto;

            .txt_box {
                display: flex;
                flex-direction: column;
                align-items: center;
                // 對其
                margin-left: 1.5%;
                z-index: 2;
                padding-top: 0.5vw;
                h1 {
                    margin: 0;
                }
            }

            // 設定區塊
            .img_box {
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                z-index: 2;
                // padding-top: 1vw;

                // 右邊線
                .line_box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    margin: 1vw;

                    // 上線
                    .line:nth-child(1) {
                        width: var(--line-top-width);
                        height: var(--line-height);
                        background: var(--line);
                        margin: 0 0 0.2vw 0;
                    }

                    // 下線
                    .line:nth-child(2) {
                        width: var(--line-bottom-width);
                        height: var(--line-height);
                        background: var(--line);
                        top: 2vw;
                    }
                }

                // 菱形
                .square {
                    // 菱形大小
                    padding: 1vw 0;
                    width: var(--square-line-width);
                }

                // 左邊線
                .line_box:nth-child(3) {
                    align-items: flex-start;
                }
            }
        }
    }

    // 地圖
    .col_2 {
        width: 100%;
        z-index: 2;

        .range {
            display: flex;
            justify-content: space-evenly;
            padding: 11vw 10vw;

            // 地圖
            .map_box {
                padding: 1vw;
                width: 70%;
            }

            // 文字區
            .txt_item {
                width: 30%;
                margin-left: 1vw;

                .form-box {
                    display: flex;
                    align-items: center;

                    // justify-content: space-around;
                    .txt_box {
                        p {
                            color: $gold_color;
                            // letter-spacing: 1em;
                            font-family: 'Noto Serif TC', serif;
                        }
                    }

                    .input_box {
                        width: 80%;
                        padding-left: 1vw;

                        .message {
                            textarea {
                                width: 100%;
                                background-color: transparent;
                                border: none;
                                border-bottom: 1px solid $gold_color;
                                color: $gold_color;
                                outline: none;
                                line-height: 3;
                                margin-top: 17%;
                                overflow: visible;
                            }
                        }

                        input {
                            width: 100%;
                            background-color: transparent;
                            border: none;
                            border-bottom: 1px solid $gold_color;
                            color: $gold_color;
                            outline: none;
                            line-height: 3;
                            overflow: visible;

                        }
                    }

                    // 送出btn
                    .btn_box {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        padding: 5vw 0;
                        position: relative;

                        a {
                            width: 60%;
                            text-decoration: none;
                            display: block;
                            border: 1px solid #b48d5355;
                            padding-left: 2em;
                            padding-right: 2em;
                            transition: all 0.5s;
                            z-index: 9;

                            .btn {
                                line-height: 2;
                                margin: 0 auto;
                                color: $gold_color;
                                text-align: center;
                            }
                        }

                        a:hover {
                            background: $gold_color;
                            transition: all 0.5s;

                            .btn {
                                color: $white_color;
                                transition: all 0.5s;
                            }
                        }
                    }
                }

                .form-box:nth-child(6) {
                    justify-content: center;
                    margin: 0 1.5vw 0 3vw;
                }
            }
        }
    }
}

// ===========手機版==============
@media screen and (max-width:768px) {
    .contact {
        .col_1 {
            .title_item {
                width: 50vw;
                height: 35vw;

                .img_box {
                    padding-top: 2vw;
                    .square {
                        width: var(--cel--square-line-width);
                    }

                    .line_box {
                        .line:nth-child(1) {
                            height: var(--cel--line-height);
                        }

                        .line:nth-child(2) {
                            height: var(--cel--line-height);
                        }
                    }
                }
            }
        }

        //  col_2 map
        .col_2 {
            .range {
                flex-wrap: wrap;
                align-content: center;
                align-items: center;
                padding: 0;
                width: 90%;
                margin: 0 auto;
                flex-direction: column-reverse;
                padding-bottom: 10vw;

                .map_box {
                    height: 65vw;
                    width: 100%;
                }

                .txt_item {
                    width: 100%;
                    margin-left: 7vw;
                    padding-bottom: 5vw;
                    .form-box{
                        .input_box{
                            width: 70%;
                        }
                    }
                }
            }
        }
    }

}