@import 'all';
@import 'grid';
@import 'reset';

// 全區css
:root {
    // ===========電腦====

    // title//
    // 菱形 & 兩條線條 {

    //菱形大小
    --square-line-width: 0.5vw; //var(--square-line-width)
    --cel--square-line-width: 1.8vw; //var(--cel--square-line-width)
    // 色塊顏色//
    --line: #dcb17873; // var(--line)

    //粗細 //
    --line-height: 0.01vw; //var(--line-height)
    --cel--line-height: 0.1vw; //var(--cel--line-height)
    // 長度
    --line-top-width: 74%; //var(--line-top-width)
    --line-bottom-width: 8vw; //var(--line-bottom-width)

    // 選項more裡面菱形的大小
    --min-square-width: 2vw; //var(--min-square-width)
    --cel-min-square-width: 6vw; //var(--cel-min-square-width)
    --cel-arrow-width: 6vw; //var(--cel-arrow-width)
    // }

    // 六角菱形{
    // 橫線 造&工  //直線 精&藝
    --square_3D--line: 38%; //var(--square_3D--line)
    // 線條動畫
    --anm-duration--square_3D: 7s; //var(--anm-duration--square_3D)
    // 線條動畫延遲
    --anm-delay--square_3D: 0s; //var(--anm-delay--square_3D)
    //精工造藝 中文 字體大小
    --ecma-ch-h3: 2.3vw; //var(--ecma-ch-h3)
    --cel--ecma-ch-h3: 4.3vw; //var(--cel--ecma-ch-h3)
    --cel--ecma-ch-p: 2vw; //var(--cel--ecma-ch-p)
    // }

    //卡片式
    // 圖片大小
    --card--width: 25vw; //var(--card--width)

    // ===========手機====

    // 菱形線條 

    //粗細 //
    --cell-line-height: 0.3vw; //var(--cell-line-height)
    --cell-line-top-width: 13vw; //var(--cell-line-top-width)
    --cell-line-bottom-width: 20vw; //var(--cell-line-bottom-width)

}

* {
    padding: 0;
    box-sizing: border-box;
    // overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    display: block;
}

.menu_box {
    z-index: 999;
}

a {
    text-decoration: none;
}

// ===========電腦版==============//
// 過場動畫(咖啡)
.Inner {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: 999;
}

.news {
    .col_1 {
        .bg {
            position: fixed;
            width: 100%;
            height: 100vh;
            z-index: -1;
            object-fit: cover;
        }
    }
}

// 上陰影
.bginner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vw;
    background: linear-gradient(to bottom, rgb(0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%);

    @keyframes bginner {
        0% {
            opacity: 0;
            background-size: 100% auto;
        }

        30% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            background-size: 100% auto;
        }
    }
}

// 下陰影
.news {
    .col_1 {
        .black {
            content: "";
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20vw;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.856) 10%, rgba(0, 0, 0, 0) 100%);

            @keyframes bginner {
                0% {
                    opacity: 0;
                    background-size: 100% auto;
                }

                30% {
                    opacity: 1;
                }

                100% {
                    opacity: 1;
                    background-size: 100% auto;
                }
            }
        }
    }
}

.news {
    display: flex;
    flex-direction: column;

    //  col_1 第一卡大banner
    .col_1 {
        width: 100%;
        height: 100vh;
        position: relative;

        // 咖啡色塊文字
        .title_item {
            width: 25vw;
            background-color: $banner_bg_color;
            color: $gold_color;
            // 讓畫面滿版
            margin-bottom: 0;
            padding: 1vw;
            // 讓畫面滿版
            position: absolute;
            top: 50%;
            /*距離上方的位置*/
            left: 50%;
            /*距離左方的位置*/
            margin-top: -92.17px;
            /*上方邊界*/
            margin-left: -240px;
            /*左方邊界*/
            padding: 1vw;

            .txt_box {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    margin-bottom: 0;
                }

                h1 {
                    margin: 0;
                }
            }

            // 設定區塊
            .img_box {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                // 對其
                margin-right: 2%;

                // 右邊線
                .line_box {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    margin: 1vw;

                    // 上線
                    .line:nth-child(1) {
                        width: var(--line-top-width);
                        height: var(--line-height);
                        background: var(--line);
                        margin: 0 0 0.2vw 0;
                    }

                    // 下線
                    .line:nth-child(2) {
                        width: var(--line-bottom-width);
                        height: var(--line-height);
                        background: var(--line);
                        top: 2vw;
                    }
                }

                // 菱形
                .square {
                    // 菱形大小
                    padding: 1vw 0;
                    width: var(--square-line-width);
                }

                // 左邊線
                .line_box:nth-child(3) {
                    align-items: flex-start;
                }
            }
        }

        // CLASSIC ART
        .txt_item {
            position: absolute;
            left: 1%;
            bottom: 1%;
            // position: relative;
            z-index: 9;
            padding: 1vw;

            svg {
                position: absolute;
                left: -12%;
                bottom: 34%;
                width: 100%;

                // 線圖 菱形
                .box {
                    position: absolute;
                    top: -33%;
                    left: -0.5%;
                }

                // 第一圖 
                .g1 {
                    position: absolute;
                    // transform: rotate(173deg);
                    width: var(--square-line-width);
                    transform-box: fill-box;
                    transform-origin: center;
                    animation: rotate 10s linear 4.5s infinite;

                    @keyframes rotate {
                        100% {
                            transform: rotate(360deg);
                        }
                    }

                    .square1 {
                        stroke-dashoffset: 2000;
                        stroke-dasharray: 2000;
                        transform-box: fill-box;
                        transform-origin: center;
                        transform: rotate(43deg);
                        animation: drawSquare 8s linear infinite;

                        @keyframes drawSquare {
                            0% {
                                stroke-dashoffset: 2000;
                                stroke-dasharray: 2000;
                            }

                            100% {
                                stroke-dashoffset: 0;
                            }
                        }
                    }
                }

                // 第二圖 
                .g2 {
                    position: absolute;
                    // transform: rotate(97deg);
                    width: var(--square-line-width);
                    transform-box: fill-box;
                    transform-origin: center;
                    animation: rotate 10s linear 4.5s infinite;

                    @keyframes rotate {
                        100% {
                            transform: rotate(360deg);
                        }
                    }

                    .square2 {
                        stroke-dashoffset: 2000;
                        stroke-dasharray: 2000;
                        transform-box: fill-box;
                        transform-origin: center;
                        transform: rotate(56deg);
                        animation: drawSquare 8s linear 2s infinite;

                        @keyframes drawSquare {
                            0% {
                                stroke-dashoffset: 2000;
                                stroke-dasharray: 2000;
                            }

                            100% {
                                stroke-dashoffset: 0;
                            }
                        }
                    }
                }
            }

            // 文字
            .txt_box {
                // width: 40%;

                // 跟菱形對齊
                h2 {
                    margin-left: 2.5vw;
                    margin-bottom: 0;
                    // 不夠長??
                }

                p {
                    margin-left: 2.5vw;
                }
            }

        }
    }

    // col_2
    .col_2 {
        width: 100%;
        height: 100%;

        .range {
            padding: 0 8vw;
            margin: 3vw auto;
            margin-top: 9vw;

            // 標題
            .title_item {
                width: 100%;
                height: 100%;
                margin-bottom: 2vw;

                // 設定區塊 上下兩條線
                .img_box:nth-child(1) {
                    display: flex;
                    justify-content: center;

                    // 上邊線
                    .line_box {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        margin: 0 4vw;

                        // 上線
                        .line:nth-child(1) {
                            width: 100%;
                            height: var(--line-height);
                            background: var(--line);
                            margin: 0 0 0.2vw 0;
                        }

                        // 下線
                        .line:nth-child(2) {
                            width: 100%;
                            height: var(--line-height);
                            background: var(--line);
                            opacity: -0.2;
                            top: 2vw;
                        }
                    }

                    // 下邊線
                    .line_box:nth-child(3) {
                        align-items: flex-start;

                        // 上線
                        .line:nth-child(1) {
                            opacity: -0.2;
                        }

                        // 下線
                        .line:nth-child(2) {
                            width: 100%;
                            height: var(--line-height);
                            background: var(--line);
                            opacity: -0.2;
                            top: 2vw;
                        }
                    }
                }

                .menu_txt_box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 4vw;
                    border-top: 1px solid #b48d5355;
                    border-bottom: 1px solid #b48d5355;

                    p {
                        padding: 0 2vw;
                        position: relative;
                    }

                    p:nth-child(1) {}

                    p:nth-child(2)::before {
                        content: "";
                        background: url(../img/square_fill.svg)no-repeat
                            /*兼容没测*/
                        ;
                        position: absolute;
                        width: 7%;
                        height: 40%;
                        z-index: 2;
                        left: -3%;
                        bottom: 27%;
                    }

                    p:nth-child(3)::before {
                        content: "";
                        background: url(../img/square_fill.svg)no-repeat
                            /*兼容没测*/
                        ;
                        position: absolute;
                        width: 7%;
                        height: 40%;
                        z-index: 2;
                        left: -3%;
                        bottom: 27%;
                    }

                }

                // 設定區塊 上下兩條線
                .img_box:nth-child(3) {
                    display: flex;
                    justify-content: center;

                    // 上邊線
                    .line_box {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        margin: 0 4vw;

                        // 上線
                        .line:nth-child(1) {
                            width: 100%;
                            height: var(--line-height);
                            background: var(--line);
                            margin: 0 0 0.2vw 0;
                            opacity: 0.2;
                        }

                        // 下線
                        .line:nth-child(2) {
                            width: 100%;
                            height: var(--line-height);
                            background: var(--line);
                            top: 2vw;
                        }
                    }
                }
            }

            // 內容
            .txt_item {
                margin: 5vw 0 7vw 0;
                // 外框線定位
                position: relative;

                .line_Box {
                    width: 60%;
                    position: absolute;
                    right: 0;
                    left: 35.5%;
                    bottom: 0;
                    top: 11%;
                }

                .txt_range {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // border: 1px solid #b48d5355;
                    // margin-left: 7vw;
                    margin-right: 2vw;

                    .con_img_box {
                        position: relative;
                        left: 5%;
                        margin-top: 7%;
                        width: 91%;

                        img {
                            // width: 106%;
                            border-radius: var(--border-radius-img);
                        }
                    }

                    .txt_box {
                        width: 100%;
                        position: relative;
                        top: 3vw;

                        .txt_range {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            width: 52%;
                            width: 45%;
                            margin: 0 auto;

                            .title_box {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;

                                h4 {
                                    margin-bottom: 0;
                                }

                                // 設定區塊
                                .img_box {
                                    display: flex;
                                    justify-content: center;
                                    // 對其
                                    margin-left: 0.5vw;

                                    // 右邊線
                                    .line_box {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: flex-end;
                                        margin: 1vw;

                                        // 上線
                                        .line:nth-child(1) {
                                            width: 6.5vw;
                                            height: var(--line-height);
                                            background: var(--line);
                                            margin: 0 0 0.2vw 0;
                                        }
                                    }

                                    // 菱形
                                    .square {
                                        // 菱形大小
                                        padding: 1vw 0;
                                        width: 0.5vw;
                                    }

                                    // 左邊線
                                    .line_box:nth-child(3) {
                                        align-items: flex-start;

                                        // 上線
                                        .line:nth-child(1) {}
                                    }
                                }
                            }

                            // 內文
                            .p_box {
                                // width: 42%;
                                // 文字與上面標題對其
                                padding-left: 0.4vw;
                            }

                            .more {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                // padding-top: 2vw;
                                position: relative;

                                // width: 67%;
                                .more_range {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    align-content: center;

                                    p {
                                        color: $gold_color;
                                        position: relative;
                                        // 對其內文
                                        margin-left: 0;
                                        margin-right: 0.5vw;
                                    }

                                    a {
                                        display: flex;
                                        align-items: center;

                                        // 對其
                                        // width: 42%;
                                        // justify-content: space-around;

                                        .as_box {
                                            position: relative;
                                            margin: 0 1vw;

                                            .arrow {
                                                position: absolute;
                                                width: 2vw;
                                                left: -32%;
                                                top: 24%;
                                            }

                                            .square {
                                                width: var(--min-square-width);
                                            }
                                        }

                                        p {
                                            margin: 0;
                                            padding: 0;
                                            width: 100%;
                                        }
                                    }

                                    // 箭頭效果
                                    a:hover {
                                        .arrow {
                                            animation: arrow .8s linear infinite;

                                            @keyframes arrow {
                                                0% {
                                                    transform: translateX(0);
                                                }

                                                25% {
                                                    transform: translateX(-5px);

                                                }

                                                50% {
                                                    transform: translateX(0);

                                                }

                                                75% {
                                                    transform: translateX(5px);

                                                }

                                                100% {
                                                    transform: translateX(0);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    //col_3
    .col_3 {
        width: 100%;
        height: 100%;

        .range {
            display: flex;
            justify-content: center;
            // 加起來8
            // margin: 3vw auto;
            // margin-bottom: 9vw;
            // padding: 3vw 0;
            margin: 6vw auto;
            width: 86%;

            .card {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                // margin: 1vw;
                // 白線定位
                position: relative;
                // height: 80vh;
                overflow: hidden;
                height: 80vh;

                // 圖片
                .card_img_item {
                    height: 30vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-content: center;

                    .card_img_box {
                        // width: var(--card--width);
                        border-radius: var(--border-radius-img);
                        transition: .5s;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;

                        img {
                            border-radius: var(--border-radius-img);
                            transition: .5s;
                        }
                    }

                    .card_img_box:hover {
                        opacity: 0.8;
                        transform: scale(0.9);

                        img {
                            border-radius: var(--border-radius-img);
                            transform: scale(1.2);
                        }
                    }
                }

                // 內容
                .txt_box {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    // 讓每個卡片一樣大
                    // height: 18vw;
                    height: 50vh;
                    justify-content: space-evenly;
                    // margin: 0 1vw;

                    .title_box {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-end;
                        height: 20vh;

                        h4 {
                            margin-bottom: 0;
                            // margin-top: 4vw;
                            // min-width: 138%;
                            display: flex;
                            justify-content: center;
                        }

                        // 設定區塊
                        .img_box {
                            display: flex;
                            justify-content: center;
                            // 對其
                            margin-left: 0.5vw;
                            margin-bottom: 1vw;

                            // 右邊線
                            .line_box {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: flex-end;
                                margin: 1vw;

                                // 上線
                                .line:nth-child(1) {
                                    width: 6.4vw;
                                    height: var(--line-height);
                                    background: var(--line);
                                    margin: 0 0 0.2vw 0;
                                }
                            }

                            // 菱形
                            .square {
                                // 菱形大小
                                padding: 1vw 0;
                                width: 0.5vw;
                            }

                            // 左邊線
                            .line_box:nth-child(3) {
                                align-items: flex-start;

                                // 上線
                                .line:nth-child(1) {}
                            }
                        }
                    }

                    // 內文
                    .col_1_p {
                        // 讓每個卡片一樣大                    
                        height: 30vh;
                        color: #fff;
                        // padding-bottom: 0;
                        max-width: 73%;
                        margin: 0 auto;
                        // padding: 7% 15%;
                        // height: 35vh;
                        // padding: 13%;
                    }

                    .more {
                        height: 15vh;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-evenly;
                        // margin-top: 2vw;

                        .p_box {
                            display: flex;
                            // 內文對其
                            // padding-left: 1vw;

                            p {
                                color: $gold_color;
                                padding: 0;
                            }
                        }

                        a {
                            display: flex;
                            align-items: center;

                            .as_box {
                                position: relative;

                                .arrow {
                                    position: absolute;
                                    width: 2vw;
                                    left: -32%;
                                    top: 32%;
                                }

                                .square {
                                    width: var(--min-square-width);
                                    margin-right: 0.5vw;
                                    margin-top: 0.5vw;
                                }
                            }

                            p {
                                color: $gold_color;
                                padding: 0;
                            }
                        }

                        // 箭頭效果
                        a:hover {
                            .arrow {
                                animation: arrow .8s linear infinite;

                                @keyframes arrow {
                                    0% {
                                        transform: translateX(0);
                                    }

                                    25% {
                                        transform: translateX(-5px);

                                    }

                                    50% {
                                        transform: translateX(0);

                                    }

                                    75% {
                                        transform: translateX(5px);

                                    }

                                    100% {
                                        transform: translateX(0);
                                    }
                                }
                            }
                        }
                    }
                }

                //白線
                .dt_line {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: var(--line-height);
                    // 調整明度線太粗
                    background-color: var(--pale--line);
                }
            }
        }
    }
}

// ===========手機版==============
@media screen and (max-width:768px) {
    .news {
        .col_1 {
            height: 100vh;

            .title_item {
                width: 50vw;
                margin-top: -58.28px;
                margin-left: -103.5px;

                .img_box {
                    .square {
                        width: var(--cel--square-line-width);
                    }

                    .line_box {
                        .line:nth-child(1) {
                            height: var(--cel--line-height);
                        }

                        .line:nth-child(2) {
                            height: var(--cel--line-height);
                        }
                    }
                }
            }

            .txt_item {

                // margin: 90.5vw auto;
                .txt_box {
                    width: 100%;
                }

                svg {
                    left: 0%;
                    bottom: 14%;
                    width: 40%;
                }
            }
        }

        .col_2 {
            .range {
                .txt_item {
                    .txt_range {
                        flex-wrap: wrap;
                        margin: auto;

                        .txt_box {
                            .txt_range {
                                width: 100%;
                                .title_box {
                                    .img_box {
                                        .line_box {
                                            .line:nth-child(1) {
                                                height: var(--cel--line-height);
                                                width: 18.5vw;
                                            }
                                        }

                                        .square {
                                            width: var(--cel--square-line-width);
                                        }
                                    }
                                }

                                .p_box {
                                }

                                .more {
                                    .more_range {
                                        justify-content: space-between;

                                        a {
                                            .as_box {
                                                margin: 0;
                                                .arrow {
                                                    width: var(--cel-arrow-width);
                                                    left: 13%;
                                                    top: 13%;
                                                }

                                                .square {
                                                    width: var(--cel-min-square-width);
                                                    margin: 0 4vw;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .line_Box {
                        width: 100%;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }

        // 卡片式
        .col_3 {
            .range {
                .card {
                    height: 100vh;

                    .card_img_item {
                        height: 40vh;
                    }

                    .txt_box {
                        .title_box {
                            height: 10vh;

                            .img_box {
                                .line_box {
                                    .line:nth-child(1) {
                                        height: var(--cel--line-height);
                                        width: 24vw;
                                    }
                                }

                                .square {
                                    width: var(--cel--square-line-width);
                                }
                            }
                        }

                        .col_1_p {
                            max-width: 90%;
                        }

                        p:nth-child(2) {
                            width: 90%;
                        }

                        .more {
                            justify-content: space-around;

                            a {
                                width: 40%;

                                .as_box {
                                    .arrow {
                                        width: var(--cel-arrow-width);
                                        left: -34%;
                                        top: 22%;
                                    }

                                    .square {
                                        width: var(--cel-min-square-width);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}